<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    package="es.csc.android.hexakey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />
        
    <application android:allowBackup="false" 
        		android:label="@string/ime_name"        
               	android:icon="@drawable/ic_launcher">
        <service android:name="HexaKey"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name="es.csc.android.hexakey.ImePreferences" 
            	android:label="@string/settings_name"
            	android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
